<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>DETAILS</title>
</head>
<body>
<h4>details</h4>
{% for post in posts %}
<div>
    {{ post.name }}
    <p>
        <a class="btn btn-default" href="{% url 'edit_reg' post.pk %}"><span class="glyphicon glyphicon-pencil"></span>
            {{ post.number }}</a>
    </p>

</div>
{% endfor %}
</body>
</html>